<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tintColor</key>
	<dict>
		<key>*</key>
		<string>#f00</string>
		<key>night</key>
		<string>#00b57c</string>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>barStyle</key>
		<dict>
			<key>night</key>
			<string>black</string>
		</dict>
	</dict>
	<key>tableView</key>
	<dict>
		<key>backgroundColor</key>
		<dict>
			<key>*</key>
			<string>#efeff4</string>
			<key>night</key>
			<string>#141414</string>
			<key>sepia</key>
			<string>#f3e7d0</string>
		</dict>
		<key>separatorColor</key>
		<dict>
			<key>*</key>
			<string>#c8c7cc</string>
			<key>night</key>
			<string>#3d3d3d</string>
			<key>sepia</key>
			<string>#d0bd9b</string>
		</dict>
	</dict>
	<key>tableViewCell</key>
	<dict>
		<key>selectedBackgroundColor</key>
		<dict>
			<key>*</key>
			<string>#d9d9d9</string>
			<key>night</key>
			<string>#363636</string>
			<key>sepia</key>
			<string>#D9C6A2</string>
		</dict>
		<key>backgroundColor</key>
		<dict>
			<key>*</key>
			<string>#fff</string>
			<key>night</key>
			<string>#000</string>
			<key>sepia</key>
			<string>#f8f1e4</string>
		</dict>
		<key>textColor</key>
		<dict>
			<key>*</key>
			<string>#000</string>
			<key>night</key>
			<string>#fff</string>
			<key>sepia</key>
			<string>#000</string>
		</dict>
	</dict>
</dict>
</plist>
